/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
    
    perspective:1000px;
}


/* Card principal */
.card{
    width:400px;
    padding:35px;
    
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);

    border:1px solid rgba(255,255,255,0.15);
    border-radius:25px;

    text-align:center;
    color:white;

    box-shadow:
    0 20px 40px rgba(0,0,0,.35);

    transform-style: preserve-3d;
}


.card h2{
    margin-bottom:15px;
    font-size:30px;
}


.instrucciones{
    margin-bottom:20px;
    opacity:.8;
}


#texto-vidas{
    margin-bottom:20px;
    color:#ff5e7d;
}


/* Input */
input{
    width:100%;
    padding:15px;

    border:none;
    outline:none;
    border-radius:15px;

    margin-bottom:25px;

    font-size:18px;
    text-align:center;
}


/* BOTON 3D */
button{
    width:100%;
    padding:16px;

    border:none;
    border-radius:15px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    color:white;
    background: linear-gradient(45deg,#ff416c,#ff4b2b);

    transform-style: preserve-3d;

    box-shadow:
    0 10px 0 #c92f12,
    0 15px 25px rgba(0,0,0,.35);

    transition: .25s ease;
}


/* Cuando pasa la mano */
button:hover{
    transform:
        translateY(-8px)
        rotateX(15deg)
        rotateY(-15deg)
        scale(1.05);

    box-shadow:
    0 18px 0 #c92f12,
    0 25px 35px rgba(0,0,0,.45);
}


/* Cuando lo presiona */
button:active{
    transform:
        translateY(5px);

    box-shadow:
    0 5px 0 #c92f12,
    0 8px 15px rgba(0,0,0,.25);
}


.resultado{
    margin-top:25px;
    font-size:18px;
    font-weight:bold;
}